.Product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 26rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    transition: all .1s ease-in-out;
    overflow: hidden;
    background-color: #fff;
}


.Product img {
    width: 80%;
    margin: 1rem 0;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.Product .Product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.Product h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 0.5rem 0.5rem 0 0.5rem;
    transition: all .1s ease-in-out;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Product .Product-footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.Product .Product-footer p {
    margin: 0;
    font-size: 0.9rem;
}

.Product p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 1rem;
    transition: all .1s ease-in-out;
}

.Product button {
    width: 100%;
    padding: 1rem;
    background-color: #7c4700;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.Product button:hover {
    background-color: #bd6b00;
}